
body {
    font: normal 18px/1.5 "Lucida Console", Monaco, monospace;
    background: #26bace; 
    color: rgb(49, 43, 43);  
    padding: 50px 0;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    margin-left: 0px;
    max-width: 800px;
    margin: 0;
    padding: 0px 16px;
  }
  
  .center {
    margin: auto;
    width: 30%;
    padding: 50px;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 225px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    margin-left: 0px;
    padding: 15px;
    border: none;
  }
  
  
  .flex-inner li {
    width: 80px;
  }
  
  button {
    margin-left: 0;
    padding: 6px 12px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    text-transform: uppercase;
  }



 